.button {
  border-radius: 8px;
  background-color: #4a85de;
  width: 270px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

  &:hover,
  &:active {
    background-color: #2c5593;
    transform: scale(1.02);
  }
}
